---
layout: default
---

{% comment %}
You can override this template in your Jekyll site by placing it in your
own _includes/package.html file. This plugin will look there before defaulting
back to this file.
{% endcomment %}

<article class="package">
	<header class="package-header">
		<img class="package-icon" src="{{ site.fdroid-repo }}/icons/{{ page.icon }}" />
		<div class="package-title">
			<h3 class="package-name">
				{{ page.title }}
			</h3>
			<div class="package-summary">
				{{ page.summary }}
			</div>
		</div>
	</header>
	<div class="package-description">
		{{ page.description }}
	</div>
	<p>
		<b>License</b>:
		<a href="{{ page.license|get_license_url }}">{{ page.license|get_license_name }}</a>
	</p>
	<p>
		{% if page.webSite != "" and page.webSite != nil %}
			<b>Website</b>: <a href="{{ page.webSite }}">{{ page.webSite }}</a><br>
		{% endif %}
		{% if page.issueTracker != "" and page.issueTracker != nil %}
			<b>Issue Tracker</b>: <a href="{{ page.issueTracker }}">{{ page.issueTracker }}</a><br>
		{% endif %}
		{% if page.sourceCode != "" and page.sourceCode != nil %}
			<b>Source Code</b>: <a href="{{ page.sourceCode }}">{{ page.sourceCode }}</a><br>
		{% endif %}
		{% if page.changelog != "" and page.changelog != nil %}
			<b>Changelog</b>: <a href="{{ page.changelog }}">{{ page.changelog }}</a><br>
		{% endif %}
		{% if page.donate != "" and page.donate != nil %}
			<b>Donate</b>: <a href="{{ page.donate }}">{{ page.donate }}</a><br>
		{% endif %}
		{% if page.flattr != "" and page.flattr != nil %}
			<b>Flattr</b>: <a href="https://flattr.com/thing/{{ page.flattr }}">https://flattr.com/thing/{{ page.flattr }}</a><br>
		{% endif %}
	</p>
	<p>
		For full details and additional technical information,
		see <a href="https://f-droid.org/wiki/page/{{ page.package }}">this application's page</a> on the F-Droid wiki.
	</p>

	<div class="package-versions">
		<h3>Packages</h3>
		<p>
			Although APK downloads are available below to give you the choice,
			you should be aware that by installing that way you will not receive update notifications
			and it's a less secure way to download.
			We recommend that you install the F-Droid client and use that.
		</p>
		<a href="https://f-droid.org/FDroid.apk" class="material-button">Download F-Droid</a>
		<ul class="package-versions-list">
			{% for package in page.packages %}
			<li class="package-version">
				<div class="package-version-header">
					<b>Version {{ package.version }}</b> ({{ package.versionCode }}) - Added on {{ package.added | date: "%b %-d, %Y" }}
				</div>
				<p class="package-version-requirement">
					This version requires Android {{ package.sdkVersion|android_sdk_level_to_version }}  or newer.
				</p>

				<p class="package-version-source">
					{% if package.srcName != "" and package.srcName != nil %}
					It is built and signed by F-Droid,
					and guaranteed to correspond to <a href="{{ site.fdroid-repo }}/{{ package.srcName }}">this source tarball</a>.
					{% else %}
					It is built and signed by the original developer.
					{% endif %}
				</p>

				<p class="package-version-download">
					<a href="{{ site.fdroid-repo }}/{{ package.apkName }}">Download APK</a> {{ package.size|file_size_human_readable }}
					<a href="{{ site.fdroid-repo }}/{{ package.apkName }}.asc">GPG Signature</a>
				</p>

				<div class="package-version-permissions">
					<h4>Permissions</h4>
					<ul class="package-version-permissions-list">
						{% for permission in package.permissions %}
						<li>
							{{ permission }}
						</li>
						{% endfor %}
					</ul>
				</div>

			</li>
			
			{% endfor %}

		</ul>

	</div>

</article>
